<!DOCTYPE html>
<html>

<head>
    <title>Cash Register System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <h1>Cash Register System</h1>
    <div class="container">
        <h2>Menu</h2>
        <a href="/add_user_page">Add User</a>
        <a href="/search_user_page">Search User</a>
        <a href="/wallet_page">Wallet</a>
        <a href="/transaction_page">Transaction</a>
        <a href="/transactions_page">View Transactions</a>
    </div>
</body>

</html>